h1{
   color :#1A2930;
   font-size:length 50px;
   }
   h3{color : #092847;
   text-size : 11;
      }
   div{
   background-color : #5CDB95;
   padding : 0.3px}
   img{
   width :50px;
   height :50px;}
   a 
   :hover {background-color:#73e615e3 ;
   a{
      color : #05386B;}